fastapi==0.135.3
uvicorn[standard]==0.44.0

tensorflow==2.19.1
numpy==1.26.4
pillow==11.1.0

python-multipart==0.0.24
pydantic-settings==2.14.1
python-dotenv==1.2.2

PyJWT==2.13.0
google-auth==2.53.0

google-generativeai==0.7.0
protobuf==4.25.3

bcrypt==5.0.0
